
@{
    ViewBag.Title = "assignments";
}
<h2 style="color:red"> The Basics</h2><br />
<h4>C# Fundamentals</h4>
<ul>
    <li> Code Flow and Data: C# Basics  </li>


    
</ul><br />
<h4>MVC Basics </h4>
<ul>
    <li> MVC Data tutorial View Model  </li>
</ul>
<h4>Front End</h4>
<li>Front End Basics </li>

<ul>
    <li>HTML, CSS and Bootstrap </li>
</ul>
<ul>
    <li>Other Related Practising </li>
</ul>



<h4>MVC Data tutorial  </h4>

Träna pågår ...Practising is always going on.. 


<img src="http://www.anthonyshuster.co.uk/blog/wp-content/uploads/2015/04/practice-makes-progress.jpg" style="width:128px;height:128px;">

<br />

